* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  color: #141413;
  background-color: #FAFAF8;
}

header {
  width: 100%;
  height: 110px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.header__logo-img {
  width: 43px;
}

.header__logo-txt {
  font-weight: 400;
  font-size: 2rem;
  line-height: 60px;
  color: #141413;
}

main {
  padding: 70px 63px 66px;
}

.main__inner {
  max-width: 595px;
  margin: 0 auto;
}

.add-ingredient-form {
  margin-bottom: 48px;
}

.add-ingredient-input {
  max-width: 595px;
  width: 100%;
  display: flex;
  gap: 12px;
}

.add-ingredient-input > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px 0px #0000000D;
  font-family: "Inter";
  color: #6B7280;
  font-size: calc(14rem / 16);
  font-weight: 400;
  padding: 9px 13px;
  flex: 1;
}

.add-ingredient-input > input::placeholder {
  color: #6B7280;
}

.add-ingredient-input > button {
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #141413;
  color: #FAFAF8;
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(14rem / 16);
  box-shadow: 0px 1px 2px 0px #0000000D;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 38px;
}

.add-ingredient-input > button::before {
  content: "+";
}

.add-ingredient-input > button:hover {
  opacity: 0.8;
}



h2 {
  font-size: calc(30rem / 16);
  font-weight: 600;
  margin-bottom: 24px;
  color: #141413;
}

.add-ingredient-list {
  padding-left: 30px;
  font-size: calc(18rem / 16);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #475467;
  margin-bottom: 48px;
}


.generate-recipe {
  width: 100%;
  background-color: #F0EFEB;
  padding: 28px 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.generate-recipe__text h3 {
  font-size: calc(18rem / 16);
  font-weight: 400;
  color:  #141413;
  margin-bottom: 8px;
}

.generate-recipe__text p {
  font-size: calc(14rem / 16);
  font-weight: 400;
  color: #6B7280;
}

.generate-recipe__button button {
  width: 115px;
  height: 38px;
  border-radius: 6px;
  background-color: #D17557;
  font-size: calc(14rem / 16);
  color: #FAFAF8;
  border: none;
  cursor: pointer;
}

.generate-recipe__button button:hover {
  opacity: 0.8;
}


.suggested-recipe-container p {
  font-size: calc(18rem / 16);
  font-weight: 400;
  color: #475467;
  margin-bottom: 40px;
}

.suggested-recipe-container h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.suggested-recipe-container ul, .suggested-recipe-container ol {
  padding-left: 30px;
  font-size: calc(18rem / 16);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #475467;
  margin-bottom: 48px;
}

.suggested-recipe-container h4 {
  margin-bottom: 20px;
}










@media (max-width: 768px){
  .add-ingredient-input{
    flex-direction: column;
  }

  .add-ingredient-input > button {
    align-self: center;
  }

  .generate-recipe {
    flex-direction: column;
    gap: 20px
  }

  .generate-recipe {
    align-self: flex-start;
  }



}